#btn{
    width: 300px;
}
.design{
    padding:0px;
    margin:400px;
    margin-top:50px;
    border: 5px solid black;
    text-align: center;
    background-color: bisque;
}
#p{
    background-color:red;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
}
#pa{
    text-align: center;
    margin-left:10px;
    border-bottom:3px solid black;
    border-length: 50px;
    margin-right: 56%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#u{
    margin-left:10px;
    text-align: left;
    margin-right:60;
}
#pr{
    text-align: center;
    margin-right: 10px;
    border-bottom::3px solid black;
    margin-left:60%;
}
.table{
    text-align:center;
    margin-left: 290px;
    border:3px solid black;
}
tr,td{ 
    border:3px solid black;
    width:150px;
    height:50px;
}
.plex{
    display:flex;
}
#pl{
    text-align: center;
    margin-left:10px;
    border-bottom:3px solid black;
    border-length: 50px;
    margin-left: 12%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#np{
    margin-top:-15px;
    text-align: center;
    margin-left:10px;
    margin-right: 56%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#nl{
    margin-top:-15px;
    text-align: center;
    margin-left: 2%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#bt{
    border-bottom:solid 3px black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:10px;
    margin-top:-18px;

}
#bp{
    margin-top:-10px;
    text-align: center;
    margin-left:10px;
    margin-right: 90%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#no{
    margin-top:-15px;
    text-align: center;
    margin-left: -25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom:3px solid black;
}
#ni{
    margin-top:-15px;
    text-align: center;
    margin-left: 40%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom:3px solid black;
}
#up{
    margin-top:-15px;
    text-align: center;
    margin-left:10px;
    margin-right: 56%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom:3px solid black;
}
#sq{
    margin-top:-15px;
    text-align: center;
    margin-left:10px;
    margin-right: 56%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sw{
    margin-top:-15px;
    text-align: center;
    margin-left: -21%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#se{
    margin-top:-15px;
    text-align: center;
    margin-left: 37%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sd{
    margin-top:-15px;
    text-align: center;
    margin-left:10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#kl{
    margin-top:10px;
    text-align: center;
    margin-left:-45%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mn{
    margin-top:-15px;
    text-align: center;
    margin-left:-65%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#mk{
    margin-top:-15px;
    text-align: center;
    margin-left:-69%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#mj{
    margin-top:-15px;
    text-align: center;
    margin-left:-71%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
